@use "@/styles/variables.scss" as *;

.header-row {
    .item-col {
        border-right: 1px solid rgba($gray, 0.2);
        height: 28px;
        display: flex;
        align-items: center;
        padding: 0 8px;

        &:last-child {
            border-right: none;
        }
    }
}
.item-col {
    padding: 0 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 100%;
    display: flex;
    align-items: center;
}

.cols-actions {
    flex: 0 0 70px;
    max-width: 70px;
    text-align: left;
}

.cols-order {
    flex: 0 0 25px;
    max-width: 25px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cols-title {
    flex: 1;
    min-width: 600px;
    max-width: 600px;
    text-align: left;
    padding-right: 20px;
    @media (max-width: $mobile-resolution) {
        flex: 0 0 300px;
        max-width: 300px;
    }
}

$col-assigned-width: 50px;
.cols-assigned {
    flex: 0 0 $col-assigned-width;
    max-width: $col-assigned-width;
    text-align: left;
}

$col-state-width: 120px;
.cols-state {
    flex: 0 0 $col-state-width;
    max-width: $col-state-width;
    text-align: center;
}

.cols-effort {
    flex: 0 0 70px;
    max-width: 70px;
}

.cols-priority {
    flex: 0 0 80px;
    max-width: 80px;
    text-align: center;
}

.cols-project {
    flex: 0 0 160px;
    max-width: 160px;
    text-align: center;
}
.project-prefix {
    display: block;
    width: 10px;
    min-width: 10px;
    max-width: 10px;
    font-weight: bold;
    font-size: 0.5rem;
    margin-right: 2px;
    overflow: hidden;
}

.drag-handle {
    cursor: grab !important;
    margin-right: 4px;

    * {
        pointer-events: none;
    }
}
.drag-handle:active {
    cursor: grabbing !important;
}

.priority-content {
    display: flex;
    align-items: center;
    gap: 6px;
    position: absolute;
    right: 0;
}
